In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('company_data.csv')
df

,TICKER,COMPANY_NAME,TOTAL_SHARES,SIR,RSI,BF,ADV,PUBLIC
0,AAPL,Apple Inc.,7135253148,0.29,55.5,0.016,59608521,0.59
1,MSFT,Microsoft Corporation,347596351,0.16,65.2,0.006,14908738,0.64
2,GOOG,Alphabet Inc. (Google),284799140,0.14,59.6,0.010,37050339,0.27
3,AMZN,Amazon.com Inc.,1356654201,0.24,54.5,0.012,41844587,0.58
4,NVDA,NVIDIA Corporation,3376062168,0.29,59.5,0.020,24500947,0.56
5,META,Meta Platforms Inc. (Facebook),522054010,0.16,44.0,0.007,19382047,0.54
6,TSLA,Tesla Inc.,1324570934,0.25,38.0,0.015,36293482,0.53
7,BRK.B,Berkshire Hathaway Inc.,2012345678,0.12,48.0,0.008,9000012,0.38
8,JPM,JPMorgan Chase & Co.,703473827,0.19,51.2,0.009,12004980,0.49
9,V,Visa Inc.,989234573,0.17,46.7,0.010,30451238,0.42
10,TSM,Taiwan Semiconductor Manufacturing Company,2650983470,0.22,53.6,0.013,42107567,0.58
11,BABA,Alibaba Group Holding Ltd.,984573210,0.20,45.9,0.011,18320945,0.44
12,NFLX,Netflix Inc.,356782901,0.18,50.1,0.015,14560312,0.47
13,XOM,ExxonMobil Corporation,1345789132,0.10,67.4,0.006,30218745,0.35
14,JNJ,Johnson & Johnson,1029345789,0.11,60.9,0.007,26098423,0.39
15,BAC,Bank of America Corporation,812367984,0.15,42.3,0.009,19123456,0.41
16,WMT,Walmart Inc.,4123679845,0.13,49.8,0.008,20798431,0.36
17,AVGO,Broadcom Inc.,1178945612,0.21,55.0,0.012,23896547,0.52
18,DIS,The Walt Disney Company,688234109,0.24,38.7,0.014,17543289,0.50
19,ORCL,Oracle Corporation,923847561,0.16,47.4,0.011,13398472,0.43

In [19]:
import pandas as pd
import numpy as np

class Person:
    def __init__(self, id, group):
        self.id = id
        self.group = group

    # def decide(self, company_state):
    #     if self.group == "risky":
    #         if company_state['SIR'] > 0.3 and company_state['RSI'] < 40:
    #             return 1  # Buy
    #         else:
    #             return 0  # Hold
    #     elif self.group == "scared":
    #         if company_state['PUBLIC'] > 0.5 or company_state['RSI'] > 40:
    #             return -1  # Sell
    #         else:
    #             return 0  # Hold
    #     else:  # neutral
    #         return 0

    def decide(self, company_state):
        if self.group == "risky":
            w = {'SIR': 0.3, 'RSI': 0.25, 'BF': 0.05, 'ADV': 0.1, 'PUBLIC': 0.3 }
            T1, T2 = -0.25, 0.1

        elif self.group == "neutral":
            w = {'SIR': 0.25, 'RSI': 0.2, 'BF': 0.15, 'ADV': 0.1, 'PUBLIC': 0.3 }
            T1, T2 = -0.1, 0.25

        else:
            w = {'SIR': 0.1, 'RSI': 0.05, 'BF': 0.3, 'ADV': 0.2, 'PUBLIC': 0.35 }
            T1, T2 = 0.05, 0.45

        # some vars need to be scaled for their effect on the D to be similar and for the weights to make sense
        RSI = company_state['RSI']/100
        BF = company_state['BF']/0.05 # assuming that the max fee is 5%
        ADV = company_state['ADV'] / company_state['TOTAL_SHARES']

        D = (w['SIR'] * company_state['SIR'] + w['RSI'] * RSI + w['BF']* BF + w['ADV']* ADV + w['PUBLIC']* company_state['PUBLIC'])

        if D < T1:
            return -1   # Sell
        elif D > T2:
            return 1    # Buy
        else:
            return 0    # Hold
        
        


def assign_shares_exact(total_shares, N):
    weights = np.random.random(N)
    weights /= weights.sum()
    shares = np.floor(weights * total_shares).astype(int)
    leftover = total_shares - shares.sum()
    if leftover > 0:
        indices = np.random.choice(N, leftover, replace=False)
        shares[indices] += 1
    assert shares.sum() == total_shares
    return shares

N = 100  # Persons total

company_data = pd.read_csv('company_data.csv')

for idx, company_state in company_data.iterrows():
    company_name = company_state['COMPANY_NAME']

    buys = 0
    sells = 0

    persons = [Person(i, np.random.choice(['risky', 'scared', 'neutral'])) for i in range(N)]

    total_shares = company_state['TOTAL_SHARES']
    shares_per_person = assign_shares_exact(total_shares, N)

    decisions = []

    for i, person in enumerate(persons):
        decision = person.decide(company_state)
        decisions.append([person.id, person.group, decision, shares_per_person[i]])
        buys += 1 if decision == 1 else 0
        sells += 1 if decision == -1 else 0


    # df_decisions = pd.DataFrame(decisions, columns=['ID', 'GROUP', 'DECISION', 'SHARES'])
    # filename = f"{company_name}.csv"
    # df_decisions.to_csv(filename, index=False)
    
    ## CHECKLING IF SUM OF SHARE == TOTAL SHARES 
    print(sum(shares_per_person))
    print(total_shares)

    print(f"Company: {company_name}")
    print(f"The number of buys are ", buys)
    print(f"The number of sells are ", sells)
    holds = N - buys - sells
    print(f"The number of holds are ", holds)

7135253148
7135253148
Company: Apple Inc.
The number of buys are  71
The number of sells are  0
The number of holds are  29
347596351
347596351
Company: Microsoft Corporation
The number of buys are  79
The number of sells are  0
The number of holds are  21
284799140
284799140
Company: Alphabet Inc. (Google)
The number of buys are  71
The number of sells are  0
The number of holds are  29
1356654201
1356654201
Company: Amazon.com Inc.
The number of buys are  76
The number of sells are  0
The number of holds are  24
3376062168
3376062168
Company: NVIDIA Corporation
The number of buys are  60
The number of sells are  0
The number of holds are  40
522054010
522054010
Company: Meta Platforms Inc. (Facebook)
The number of buys are  67
The number of sells are  0
The number of holds are  33
1324570934
1324570934
Company: Tesla Inc.
The number of buys are  64
The number of sells are  0
The number of holds are  36
2012345678
2012345678
Company: Berkshire Hathaway Inc.
The number of buys are  56
The number of sells are  0
The number of holds are  44
703473827
703473827
Company: JPMorgan Chase & Co.
The number of buys are  71
The number of sells are  0
The number of holds are  29
989234573
989234573
Company: Visa Inc.
The number of buys are  69
The number of sells are  0
The number of holds are  31
2650983470
2650983470
Company: Taiwan Semiconductor Manufacturing Company
The number of buys are  57
The number of sells are  0
The number of holds are  43
984573210
984573210
Company: Alibaba Group Holding Ltd.
The number of buys are  67
The number of sells are  0
The number of holds are  33
356782901
356782901
Company: Netflix Inc.
The number of buys are  67
The number of sells are  0
The number of holds are  33
1345789132
1345789132
Company: ExxonMobil Corporation
The number of buys are  67
The number of sells are  0
The number of holds are  33
1029345789
1029345789
Company: Johnson & Johnson
The number of buys are  72
The number of sells are  0
The number of holds are  28
812367984
812367984
Company: Bank of America Corporation
The number of buys are  71
The number of sells are  0
The number of holds are  29
4123679845
4123679845
Company: Walmart Inc.
The number of buys are  73
The number of sells are  0
The number of holds are  27
1178945612
1178945612
Company: Broadcom Inc.
The number of buys are  70
The number of sells are  0
The number of holds are  30
688234109
688234109
Company: The Walt Disney Company
The number of buys are  67
The number of sells are  0
The number of holds are  33
923847561
923847561
Company: Oracle Corporation
The number of buys are  74
The number of sells are  0
The number of holds are  26